table{
    width: 90%;
    margin: 1rem auto;
}
th{
    background-color: #04AA6D;
  color: white;
  padding: 1rem;
}
th, td {
    padding: 15px;
    text-align: left;
  }
  tr{
   background-color: rgb(212, 238, 238);
  }
  #filter{
    width: 30%;
    margin: auto;
  }